@model PhotoBank.ViewModels.TagsPhotoIndexViewModel
<div style="padding:4px">
    @{ 
        @using (Html.BeginForm("UploadPhoto", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="files" />
            @Html.TextBox("photoName")        
            <input type="submit" value="Upload selected fies" />
        }
    }
</div>
<photos photo-content=@Model cells-per-row="4" show-controls="true"></photos>
