@model List<PhotoBank.Models.Tag>
<label>New Tag</label>
@{
    @using (Html.BeginForm("CreateNewTag", "Tags", FormMethod.Post))
    {
        @Html.TextBox("TagPhrase")
        <input type = "submit" value = "Create new tag" />        
    }
}
<label> Existing Tags</label>
<table>
    @{       
        var isAdmin = User.Identity.IsAuthenticated && User.IsInRole("admin");
        foreach (var tag in Model)
        {
            var tagId = tag.TagID;
            <tr>
                <td> @Html.ActionLink(tag.TagPhrase, "TagPhotos", "Tags", new { tagID = tagId }) </td>
                <td> @Html.ActionLink("Delete", "DeleteTag", "Tags", new { tagID = tagId }, new { style = "margin-left:5px;" + (isAdmin ? "" : "display:none") })</td>
            </tr>
        }
    }
</table>