@model List<PhotoBank.Models.Tag>
<label>New Tag</label>
@{
    @using (Html.BeginForm("CreateNewTag", "Tags", FormMethod.Post))
    {
        @Html.TextBox("TagPhrase")
        <input type = "submit" value = "Create new tag" />        
    }
}
<label> Existing Tags</label>
<table>
    @{         
        foreach (var tag in Model)
        {
            var tagId = tag.TagID;
            <tr>
                <td> @Html.ActionLink(tag.TagPhrase, "TagPhotes", "Tags")
                <td> @Html.ActionLink("Delete", "DeleteTag", "Tags", null, new { style = "margin-left:5px" })</td>
            </tr>
        }
    }
</table>